---
galaxy_info:
  role_name: {{ '{{' }} role_name {{ '}}' }}
  author: {{ ansible_template_author }}
  company: {{ ansible_template_company }}
  description: {{ ansible_template_desc }}
  license: {{ ansible_template_license }}
  min_ansible_version: 2.2
  platforms:
    - name: EL
      versions:
        - 6
        - 7
        - 8
    - name: Ubuntu
      versions:
        - artful
        - bionic
        - cosmic
        - disco
        - eoan
        - trusty
        - xenial
  galaxy_tags: []
dependencies: []
