---
galaxy_info:
  role_name: {{ '{{' }} role_name {{ '}}' }}
  author: {{ ansible_template_author }}
  author: {{ ansible_template_company }}
  description: {{ ansible_template_desc }}
  license: {{ ansible_template_license }}
  min_ansible_version: 1.2
  platforms:
    - name: EL
      versions:
        - 6
        - 7
    - name: Ubuntu
      versions:
        - artful
        - bionic
        - cosmic
        - trusty
        - xenial
  galaxy_tags:
    - {{ '{{' }} role_name {{ '}}' }}
dependencies: []
